laravel/vendor/
laravel/node_modules/
laravel/npm-debug.log
laravel/yarn-error.log

# Laravel 4 specific
laravel/bootstrap/compiled.php
laravel/app/storage/

# Laravel 5 & Lumen specific
laravel/public/storage
laravel/public/hot
laravel/storage/*.key
laravel/.env.*.php
laravel/.env.php
laravel/.env
laravel/Homestead.yaml
laravel/Homestead.json
laravel/.vagrant

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
laravel/.rocketeer/

# idea
.idea
.idea/
laravel/.idea
laravel/.idea/